<h2>Order a burger:</h2>

<form class="order_form">
    <div class="form-group">
        <input type="text" id="newBurger" name="burger_name" placeholder="What would you like?">
    </div>
    <button type="submit" class="btn btn-primary">
        Place Order
    </button>
</form>

<hr>

<h2>Burgers Devoured:</h2>

<ul>
{{#each burgers}}
    {{#if devoured}}
        <li>
            {{ burger_name }}
            <button class="remake_burger btn btn-success" data-id="{{id}}" data-devoured="{{devoured}}">
                Reorder
            </button>
            <button class="delete_burger btn btn-danger" data-id="{{id}}">
                Delete
            </button>
        </li>
    {{/if}}
{{/each}}
</ul>

<h2>Burgers Ready:</h2>

<ul>
{{#each burgers}}
    {{#unless devoured}}
        <li>
            {{ burger_name }}
            <button class="devour_burger btn btn-success" data-id="{{id}}" data-devoured="{{devoured}}">
                Devour!
            </button>
            <button class="delete_burger btn btn-danger" data-id="{{id}}">
                Delete
            </button>
        </li>
    {{/unless}}
{{/each}}
</ul>
